---
name: Build

on:
  push:                 # On push to any branch
  workflow_dispatch:    # Allow manual trigger
  schedule:             # 5PM UTC every Monday
    - cron: '0 17 * * 1'

jobs:
  build-windows:
    name: Build Windows
    permissions:
      contents: read       # To read repository contents
      pull-requests: write # To write pull requests analysis results and artifacts
    uses: ./.github/workflows/build.yaml
    with:
      os: windows-latest
      version: 0.0.0-run.${{ github.run_number }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-linux:
    name: Build Linux
    permissions:
      contents: read       # To read repository contents
      pull-requests: write # To write pull requests analysis results and artifacts
    uses: ./.github/workflows/build.yaml
    with:
      os: ubuntu-latest
      version: 0.0.0-run.${{ github.run_number }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
