---
name: Build on Push

on:
  push:                 # On push to any branch
  workflow_dispatch:    # Allow manual trigger
  schedule:             # 5PM UTC every Monday
    - cron: '0 17 * * 1'

jobs:
  build:
    name: Build
    permissions:
      contents: read       # To read repository contents
      pull-requests: write # To write pull requests analysis results and artifacts
    uses: ./.github/workflows/build.yaml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
