---
name: Build Documentation

on:
  workflow_call:

jobs:
  build-docs:
    permissions:
      contents: read # To read repository contents

    runs-on: windows-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Install npm dependencies
        run: npm install

      - name: Install dotnet tools
        run: dotnet tool restore

      - name: Generate HTML with Pandoc
        run: >
          dotnet pandoc
          docs/guide/title.txt
          --defaults docs/guide/definition.yaml
          --filter node_modules/.bin/mermaid-filter.cmd
          --output docs/guide/guide.html

      - name: Generate PDF with Weasyprint
        run: >
          dotnet weasyprint
          docs/guide/guide.html
          docs/guide/guide.pdf

      - name: Upload Documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: docs/guide/guide.pdf
