---
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      version:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true


jobs:
  build:
    permissions:
      contents: read       # To read repository contents
      pull-requests: write # To write pull requests analysis results and artifacts

    runs-on: ${{ inputs.os }}

    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Restore Tools
        run: >
          dotnet tool restore

      - name: Restore Dependencies
        run: >
          dotnet restore

      - name: Start Sonar Scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          dotnet dotnet-sonarscanner
          begin
          /k:"demaconsulting_TestResults"
          /o:"demaconsulting"
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
          /d:sonar.host.url="https://sonarcloud.io"
          /d:sonar.cs.opencover.reportsPaths=**/*.opencover.xml
          /d:sonar.scanner.scanAll=false

      - name: Build
        run: >
          dotnet build
          --no-restore
          --configuration Release
          --property:Version=${{ inputs.version }}

      - name: Test
        run: >
          dotnet test
          --no-build
          --configuration Release
          --property:Version=${{ inputs.version }}
          --collect "XPlat Code Coverage;Format=opencover"

      - name: End Sonar Scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          dotnet dotnet-sonarscanner
          end
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

      - name: Generate SBOM
        run: >
          dotnet sbom-tool generate
          -b src/DemaConsulting.TestResults/bin/Release
          -bc src/DemaConsulting.TestResults
          -pn DemaConsulting.TestResults
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/TestResults
          -pm true
          -li true

      - name: Generate Tests SBOM
        run: >
          dotnet sbom-tool generate
          -b test/DemaConsulting.TestResults.Tests/bin/Release
          -bc test/DemaConsulting.TestResults.Tests
          -cd "--DirectoryExclusionList **/Examples/**"
          -pn DemaConsulting.TestResults.Tests
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/TestResults.Tests
          -pm true
          -li true

      - name: Run SBOM Workflow
        run: >
          dotnet spdx-tool
          run-workflow spdx-workflow.yaml

      - name: Create Dotnet Tool
        run: >
          dotnet pack
          --no-build
          --no-restore
          --property:PackageVersion=${{ inputs.version }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ inputs.os }}
          path: |
            **/*.nupkg
            **/*.snupkg
            **/manifest.spdx.json
            **/manifest.spdx.json.sha256
            *summary.md

  build-docs:
    permissions:
      contents: read # To read repository contents

    runs-on: windows-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Install mermaid-cli
        run: npm install -g @mermaid-js/mermaid-cli

      - name: Install mermaid-filter
        run: npm install -g mermaid-filter

      - name: Install Pandoc Tool
        run: dotnet tool install --global DemaConsulting.PandocTool

      - name: Install Weasyprint Tool
        run: dotnet tool install --global DemaConsulting.WeasyprintTool

      - name: Generate HTML with Pandoc
        run: pandoc docs/guide/title.txt --defaults docs/guide/definition.yaml --output docs/guide/guide.html

      - name: Generate PDF with Weasyprint
        run: weasyprint docs/guide/guide.html docs/guide/guide.pdf

      - name: Upload Documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: docs/guide/guide.pdf
