---
name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (1.0.0)'
        required: true
        type: string
      publish:
        description: 'Publish Type'
        required: true
        default: 'publish'
        type: choice
        options:
          - none
          - release
          - publish

jobs:
  build:
    name: Build
    permissions:
      actions: read         # To read workflow actions (for CodeQL)
      contents: read        # To read repository contents
      pull-requests: write  # To write pull requests analysis results and artifacts
      security-events: write  # To upload CodeQL SARIF results
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ inputs.version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  release:
    permissions:
      contents: write  # To create releases

    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts-ubuntu-latest
          path: artifacts

      - name: Download Documentation
        uses: actions/download-artifact@v7
        with:
          name: documentation
          path: artifacts

      - name: Move buildnotes.md to root
        run: |
          set -e
          mv artifacts/buildnotes.md buildnotes.md

      - name: Clean Artifacts
        shell: bash
        run: |
          rm -rf artifacts/test

      - name: Create release
        if: ${{ inputs.publish == 'release' || inputs.publish == 'publish' }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'artifacts/**/*'
          bodyFile: buildnotes.md
          generateReleaseNotes: false
          tag: ${{ inputs.version }}

      - name: Publish to Nuget
        if: ${{ inputs.publish == 'publish' }}
        run: >
          dotnet
          nuget push
          artifacts/src/DemaConsulting.TestResults/bin/Release/*.nupkg
          --source "https://api.nuget.org/v3/index.json"
          --api-key "${{ secrets.DEMACONSULTINGNUGETKEY }}"
