---
name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (1.0.0)'
        required: true
        type: string
      publish:
        description: 'Publish Type'
        required: true
        default: 'publish'
        type: choice
        options:
          - none
          - release
          - publish

jobs:
  build:
    name: Build
    permissions:
      contents: read        # To read repository contents
      pull-requests: write  # To write pull requests analysis results and artifacts
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ inputs.version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  release:
    permissions:
      contents: write  # To create releases

    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x

      - name: Download Windows Artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts-windows-latest
          path: artifacts/windows

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts-ubuntu-latest
          path: artifacts/linux

      - name: Download Documentation
        uses: actions/download-artifact@v7
        with:
          name: documentation
          path: artifacts/docs

      - name: Clean Artifacts
        shell: bash
        run: |
          rm -rf artifacts/windows/test
          rm -rf artifacts/linux/test
          # Flatten artifacts for release
          mkdir -p artifacts/release
          cp -r artifacts/linux/* artifacts/release/
          cp -r artifacts/docs/* artifacts/release/

      - name: Create release
        if: ${{ inputs.publish == 'release' || inputs.publish == 'publish' }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'artifacts/release/**/*'
          generateReleaseNotes: true
          tag: ${{ inputs.version }}

      - name: Publish to Nuget
        if: ${{ inputs.publish == 'publish' }}
        run: >
          dotnet
          nuget push
          artifacts/linux/src/DemaConsulting.TestResults/bin/Release/*.nupkg
          --source "https://api.nuget.org/v3/index.json"
          --api-key "${{ secrets.DEMACONSULTINGNUGETKEY }}"
